<a href="https://colab.research.google.com/github/vamel19/INFO5731_FALL2020/blob/master/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['sentence'])
data.head(10)

                                            sentence
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...
5    <link rel="dns-prefetch" href="https://avata...
6    <link rel="dns-prefetch" href="https://avata...
7    <link rel="dns-prefetch" href="https://avata...
8    <link rel="dns-prefetch" href="https://avata...
9    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['word_count'])
data['word_count'].apply(lambda x: len(str(x).split(" ")))
data[['word_count']].head()

                                          word_count
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['char_count'])
data['char_count'].str.len() 
data[['char_count']].head()

                                          char_count
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['char_count'])
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'].apply(lambda x: avg_word(x))
data[['avg_word']].head()

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['avg_word'])
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'].apply(lambda x: avg_word(x))
data[['avg_word']].head()

                                            avg_word
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['stopwords'])
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

data['stopwords'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                           stopwords
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['hastags'])
data['hastags'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['hastags']].head()

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['numerics'])
data['numerics'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['numerics']].head()

                                            numerics
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['upper'])
data['upper'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['upper']].head()

                                               upper
0                                    <!DOCTYPE html>
1                                   <html lang="en">
2                                             <head>
3                             <meta charset="utf-8">
4    <link rel="dns-prefetch" href="https://githu...

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['lower'])
data['lower'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['lower'].head()

0                                      <!DOCTYPE html>
1                                     <html lang="en">
2                                               <head>
3                               <meta charset="utf-8">
4      <link rel="dns-prefetch" href="https://githu...
Name: lower, dtype: object

In [ ]:
import pandas as pd
data_file="https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['lower'])
data['tweet'].str.replace('[^\w\s]','')
data['tweet'].head()

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [ ]:
import re
ip = "260.08.094.109"
string = re.sub('\.[0]*', '.', ip)
print(string)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [ ]:
import re
txt = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"

#Check if "2010" is in the string:

x = re.findall("2010", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("no match")

['2010', '2010']
Yes, there is at least one match!

In [ ]:
import re
txt = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"

#Check if "2010 to 2019" is in the string:

x = re.findall("2010 to 2019", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("no match")

['2010 to 2019']
Yes, there is at least one match!