<a href="https://colab.research.google.com/github/vamel19/INFO5731_FALL2020/blob/master/Melissa__INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random

randomList = []
# Set a length of the list to 12
for i in range(0, 12):
    # any random numbers from 0 to 100
    randomList.append(random.randint(0, 100))

print("Printing list of 12 random numbers")
print(randomList)

Printing list of 12 random numbers
[7, 95, 56, 31, 3, 7, 30, 79, 53, 76, 77, 27]

In [ ]:
numbers = [7, 95, 56, 31, 3, 7, 30, 79, 53, 76, 77, 27]
# Sorting list of Integers in ascending 
numbers.sort()
print(numbers)

[3, 7, 7, 27, 30, 31, 53, 56, 76, 77, 79, 95]

In [ ]:
numbers = [7, 95, 56, 31, 3, 7, 30, 79, 53, 76, 77, 27]
# Sorting list of Integers in descending 
numbers.sort(reverse = True)
print(numbers)

[95, 79, 77, 76, 56, 53, 31, 30, 27, 7, 7, 3]

In [ ]:
# Python program to get average of a list 
def Average(lst): 
    return sum(lst) / len(lst) 
  
# Driver Code 
lst = [95, 79, 77, 76, 56, 53, 31, 30, 27, 7, 7, 3]
average = Average(lst) 
  
# Printing average of the list 
print("Average of the list =", round(average, 2))

Average of the list = 45.08

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
"Hello, my name is {0}".format('May')

'Hello, my name is May'

In [ ]:
"My favorite color is {0}".format('blue')

'My favorite color is blue'

In [ ]:
# Python code to convert string to list 
  
def Convert(string): 
    li = list(string.split(" ")) 
    return li 
  
# Driver code     
str1 = "Hello, my name is May"
print(Convert(str1))

['Hello,', 'my', 'name', 'is', 'May']

In [ ]:
# Python code to convert string to list 
  
def Convert(string): 
    li = list(string.split(" ")) 
    return li 
  
# Driver code     
str1 = "My favorite color is blue"
print(Convert(str1))

['My', 'favorite', 'color', 'is', 'blue']

In [ ]:
a = ['Hello,', 'my', 'name', 'is', 'May']
b = ['My', 'favorite', 'color', 'is', 'blue']

set(a) & set(b)

{'is'}

In [ ]:
.

Hello my name is May

In [ ]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "My name is May."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

My name is May

In [ ]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "My favorite color is blue."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

My favorite color is blue

In [ ]:
def vowel_count(str): 
      
    # Initializing count variable to 0 
    count = 0
      
    # Creating a set of vowels 
    vowel = set("aeiouAEIOU") 
      
    # Loop to traverse the alphabet 
    # in the given string 
    for alphabet in str: 
      
        # If alphabet is present 
        # in set vowel 
        if alphabet in vowel: 
            count = count + 1
      
    print("No. of vowels :", count) 
      
# Driver code  
str = "My name is May"
str = "My favorite color is blue"
  
# Function Call 
vowel_count(str)

No. of vowels : 9

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 1.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  4.1887902047863905

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 2.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  33.510321638291124

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 3.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  113.09733552923254

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 4.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  268.082573106329

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 5.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  523.5987755982989

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 7.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  1436.7550402417319

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 8.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  2144.660584850632

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 9.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  3053.6280592892786

In [ ]:
# Your code here

pi = 3.1415926535897931
r= 10.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#pandas datetimeindex docs: https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv
df['value'] = pd.DatetimeIndex(df['year']).month
df.head(44)

    year             title_field  value  units
0   2014     Total Housing Units      1      1
1   2014    Vacant Housing Units      1      1
2   2014  Occupied Housing Units      1      1
3   2013     Total Housing Units      1      1
4   2013    Vacant Housing Units      1      1
5   2013  Occupied Housing Units      1      1
6   2012     Total Housing Units      1      1
7   2012    Vacant Housing Units      1      1
8   2012  Occupied Housing Units      1      1
9   2011     Total Housing Units      1      1
10  2011    Vacant Housing Units      1      1
11  2011  Occupied Housing Units      1      1
12  2010     Total Housing Units      1      1
13  2010    Vacant Housing Units      1      1
14  2010  Occupied Housing Units      1      1
15  2009     Total Housing Units      1      1
16  2009    Vacant Housing Units      1      1
17  2009  Occupied Housing Units      1      1
18  2008     Total Housing Units      1      1
19  2008    Vacant Housing Units      1      1
20  2008  Occupied Housing Units      1      1
21  2014          Owner Occupied      1      1
22  2014         Renter Occupied      1      1
23  2013          Owner Occupied      1      1
24  2013         Renter Occupied      1      1
25  2012          Owner Occupied      1      1
26  2012         Renter Occupied      1      1
27  2011          Owner Occupied      1      1
28  2011         Renter Occupied      1      1
29  2010          Owner Occupied      1      1
30  2010         Renter Occupied      1      1
31  2009          Owner Occupied      1      1
32  2009         Renter Occupied      1      1
33  2008          Owner Occupied      1      1
34  2008         Renter Occupied      1      1
35  2014       Median Gross Rent      1      1
36  2013       Median Gross Rent      1      1
37  2012       Median Gross Rent      1      1
38  2011       Median Gross Rent      1      1
39  2010       Median Gross Rent      1      1
40  2009       Median Gross Rent      1      1
41  2008       Median Gross Rent      1      1

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Years': ['2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014'],
     'Difference': [17340-18057, 18057-18867, 18867-18478, 18478-20068, 20068-20845, 20845-21427],}

row_labels = [1, 2, 3, 4, 5, 6]

In [ ]:
df = pd.DataFrame(data=data, index=row_labels)

In [ ]:
df

       Years  Difference
1  2008-2009        -717
2  2009-2010        -810
3  2010-2011         389
4  2011-2012       -1590
5  2012-2013        -777
6  2013-2014        -582